body {
  background-color: #f7f7f7;
}

.App {
  font-family: "DM Mono", "Inter", monospace;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 15px;
  margin: 10px 10px;
}

.m10 {
  margin: 10px auto;
}

.tutorial {
  margin: 20px auto;
}

.p {
  margin: 10px auto;
}

.squad {
  margin: 0 auto;
  max-width: 100%;
  display: block;
}

.holder {
  padding: 10px 5px;
}

.ig {
  max-width: 24px;
}
